.row {
  margin-left: 20px;
  color: white;
}

.row h2 {
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 5px;
  transition: transform 1000ms;
}

.row__posters:focus-within .row__poster,
.row__posters:hover .row__poster {
  transform: translateX(-25%);
}

.row__poster:focus ~ .row__poster,
.row__poster:hover ~ .row__poster {
  transform: translateX(25%);
}

.row__posters .row__poster:focus,
.row__posters .row__poster:hover {
  transform: scale(1.5);
  z-index: 1;
  opacity: 1;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.6);
}
